<p id="notice"><%= notice %></p>

<h1>Game Users</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_users.each do |game_user| %>
      <tr>
        <td><%= game_user.game_id %></td>
        <td><%= game_user.user_id %></td>
        <td><%= link_to 'Show', game_user %></td>
        <td><%= link_to 'Edit', edit_game_user_path(game_user) %></td>
        <td><%= link_to 'Destroy', game_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game User', new_game_user_path %>
