<%= render partial: "logo.html.erb" %>

<div class="main">
	<p>You are:</p>
	<div class="users">
		<%= turbo_frame_tag "user_#{@user.id}" do %>
			<%= render @user %>
		<% end %>
	</div>

	<%= form_with model: @room do |form| %>
	  <div class="actions">
	  	<%= form.submit "Create a Room"%>
	  </div>
	<% end %>
</div>