<p id="notice"><%= notice %></p>

<p>
  <strong>Story:</strong>
  <%= @blank.story_id %>
</p>

<p>
  <strong>Key:</strong>
  <%= @blank.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @blank.value %>
</p>

<%= link_to 'Edit', edit_blank_path(@blank) %> |
<%= link_to 'Back', blanks_path %>
