<% if game.all_votes_collected? %>
	<h1>Best Picture:</h1>
	<%= render game.best_picture %>
	<%= form_with url: "#{game.room.id}/start_game", method: :post do |form| %>
		<%= form.submit "New Game" %>
	<% end %>
<% elsif game.all_movies_complete? %>
	<h1>Vote for best picture!</h1>
	<h2>Nominees:</h2>
	<% game.movies.each do |movie| %>
		<%= render movie %>
	<% end %>
	<% if game.has_vote?(game.room.viewer) %>
		<p>Waiting for other players to vote...</p>
	<% else %>
		<%= form_with url: "/games/#{game.id}/vote", method: :post do |form| %>
			<%= form.collection_select :movie_id, game.movies, :id, :title, include_blank: true %>
			<%= form.submit "VOTE!" %>
		<% end %>
	<% end %>
<% elsif game.movie_for(game.room.viewer).waiting_for_input? %>
	<%= render game.movie_for(game.room.viewer) %>
	<%= form_with url: "/games/#{game.id}/fill_in_the_blank", method: :post do |form| %>
		<%= form.text_field :value %>
		<%= form.submit "Submit" %>
	<% end %>
<% else %>
	<%= render game.movie_for(game.room.viewer) %>
	<p>Waiting for other players...</p>
<% end %>