<% if game.all_votes_collected? %>
	<h1>Winner:</h1>
	<%= render game.winner %>
	<%= form_with url: "/rooms/#{game.room.id}/finish_game", method: :post do |form| %>
		<%= form.submit "New Game" %>
	<% end %>
<% elsif game.all_stories_complete? %>
	<h2><%= game.voting_title %></h2>
	<p>Take turns reading out loud. Read the one you named.</p>
	<% game.stories.each do |story| %>
		<%= render story %>
	<% end %>
	<% if game.has_vote?(game.room.viewer) %>
		<p>Waiting for other players to vote...</p>
	<% else %>
		<%= form_with url: "/games/#{game.id}/vote", method: :post do |form| %>
			<%= form.collection_select :story_id, game.stories, :id, :title, { include_blank: "--Choose--" }, { required: true } %>
			<%= form.submit "VOTE!", class: 'inline' %>
		<% end %>
	<% end %>
	<%= turbo_frame_tag "player_statuses" do %>
		<% game.user_list.each do |user| %>
			<%= render partial: "player_status", locals: { user: user, game: game } %>
		<% end %>
	<% end %>
<% else %>
	<%= render game.story_for(game.room.viewer) %>
	<%if game.story_for(game.room.viewer).waiting_for_input? %>
		<%= form_with url: "/games/#{game.id}/fill_in_the_blank", method: :post, html: { autocomplete: "off", autocapitalize: "off" } do |form| %>
			<%= form.text_field :value, required: true %>
			<%= form.submit "Submit", class: 'inline' %>
		<% end %>
	<% else %>
		<%= form_with url: "/games/#{game.id}/change_answer", method: :post do |form| %>
			<%= form.submit "Change Answer", class: 'secondary-action' %>
		<% end %>
		<p>Waiting for other players...</p>
	<% end %>
	<%= turbo_frame_tag "player_statuses" do %>
		<% game.user_list.each do |user| %>
			<%= render partial: "player_status", locals: { user: user, game: game } %>
		<% end %>
	<% end %>
<% end %>