<% if game.all_votes_collected? %>
	<h1>Winner:</h1>
	<%= render game.winner %>
	<%= form_with url: "#{game.room.id}/finish_game", method: :post do |form| %>
		<%= form.submit "New Game" %>
	<% end %>
<% elsif game.all_stories_complete? %>
	<h2><%= game.voting_title %></h2>
	<p>Take turns reading out loud. Read the one you named.</p>
	<% game.movies.each do |movie| %>
		<%= render movie %>
	<% end %>
	<% if game.has_vote?(game.room.viewer) %>
		<p>Waiting for other players to vote...</p>
	<% else %>
		<%= form_with url: "/games/#{game.id}/vote", method: :post do |form| %>
			<%= form.collection_select :movie_id, game.movies, :id, :title, include_blank: true %>
			<%= form.submit "VOTE!", class: 'inline' %>
		<% end %>
	<% end %>
	<%= turbo_frame_tag "player_statuses" do %>
		<% game.user_list.each do |user| %>
			<%= render partial: "player_status", locals: { user: user, game: game } %>
		<% end %>
	<% end %>
<% else %>
	<%= render game.movie_for(game.room.viewer) %>
	<%if game.movie_for(game.room.viewer).waiting_for_input? %>
		<%= form_with url: "/games/#{game.id}/fill_in_the_blank", method: :post do |form| %>
			<%= form.text_field :value %>
			<%= form.submit "Submit", class: 'inline' %>
		<% end %>
	<% else %>
		<p>Waiting for other players...</p>
	<% end %>
	<%= turbo_frame_tag "player_statuses" do %>
		<% game.user_list.each do |user| %>
			<%= render partial: "player_status", locals: { user: user, game: game } %>
		<% end %>
	<% end %>
<% end %>