<%= form_with(model: [@room_user.room, @room_user]) do |form| %>
  <% if @room_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room_user.errors.count, "error") %> prohibited this @room_user from being saved:</h2>

      <ul>
        <% @room_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
