<h1>Lobby</h1>
<% if room.viewing_as_leader? %>
	<p>Share this link with your friends:</p>
	<div data-controller="copy">
		<a class="url" data-action="copy#select" data-copy-target="text"><%= "https://www.pitchparty.games#{room_path(room)}" %></a>
		<div data-copy-target="confirmation" class="hidden">
			Copied!
		</div>
	</div>
<% end %>

<div class="users">
	<%= turbo_frame_tag "room_users" do %>
		<% room.room_users.each do |room_user| %>
			<%= render room_user %>
		<% end %>
	<% end %>
</div>
<% if @not_yet_joined %>
	<%= form_with url: "/rooms/#{room.id}/join", method: :post do |form| %>
		<%= form.submit "Join" %>
	<% end %>
<% elsif room.viewing_as_leader? %>
	<p>Start the game once everyone has joined</p>
	<%= form_with url: "/rooms/#{room.id}/start_game", method: :post do |form| %>
		<div>Story Type:</div>
		<%= form.collection_select :template, room.templates, :key, :name, include_blank: false %>
		<%= form.submit "Start Game", class: :inline %>
	<% end %>
<% else %>
	<p>Waiting for <%= room.leader.name %> to start the game</p>
<% end %>
<% if room.previous_games.present? %>
	<h2>Previous Games</h2>
	<ul class='previous_games'>
		<% room.previous_games.each_with_index do |game, i| %>
			<li><%= link_to "Game #{i+1}", game_path(game) %></li>
		<% end %>	
	</ul>
<% end %>