<%= turbo_frame_tag "room_#{room.id}" do %>
	<% if room.game.nil? %>
		<h1>Lobby</h1>
		<p>Start the game once everyone has joined</p>
		<div class="users">
			<%= turbo_frame_tag "room_users" do %>
				<% room.room_users.each do |room_user| %>
					<%= render room_user %>
				<% end %>
			<% end %>
		</div>
		<% if @not_yet_joined %>
			<%= form_with url: "#{room.id}/join", method: :post do |form| %>
				<%= form.submit "Join" %>
			<% end %>
		<% else %>
			<%= form_with url: "#{room.id}/start_game", method: :post do |form| %>
				<%= form.submit "Start Game" %>
			<% end %>
		<% end %>
	<% else %>
		<%= render room.game %>
	<% end %>
<% end %>