<%= turbo_stream_from @room %>
<%= turbo_stream_from "room_#{@room.id}_user_#{@room.viewer.id}" %>

<%= render @room %>

<ul class="nav">
	<li><%= link_to 'Home', root_path %></li>
	<li>Enjoying the game? <%= link_to 'Buy me a coffee', "https://www.buymeacoffee.com/cstack" %></li>
</ul>
